# Environment / secrets
.env
.env.* 

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env.d/
.env.local
env/
.venv/

# Test / coverage
.coverage
.pytest_cache/

# Editors / OS
.idea/
.vscode/
.DS_Store

# Caches / build
.mypy_cache/
pip-wheel-metadata/
build/
dist/
*.egg-info/
.cache/

# Streamlit
.streamlit/

# Logs and databases
*.log
*.sqlite3
*.db

# Docker
.docker/